html {
  scroll-behavior: smooth;
}
body {
  background-color: #000020;
  color: #ffffff;
}
.profile-bg {
  position: relative;
}
.profile-bg #background-box {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-60%, -60%);
  border: 1px solid #ffffff;
}
#profile-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
